h1 {margin: 0; font-family: sans-serif;	font-size: 72px; max-width: 720px; }
h2 {margin: 10px; font-family: sans-serif; font-size: 64px; text-align: center;}
p {font-family: Verdana; font-size: 24px;}
header{padding: 20px 220px; color: white; background-color: rgb(51,51,102);}
footer{padding: 20px 220px; color: white; background-color: rgb(85, 128, 85);}
html, body { margin: 0;	min-width: 1280px;}
section{padding: 40px 220px;}

#aboutmesect{
	min-height: 600px;
	color: white;
	background-color: black;
	position: relative;
}
#aboutmesect p{
	margin: 0 380px 40px 0;
	max-width: 720px;
}
#aboutmesect h1{
	margin: -560px 400px 40px 0;
}
#aboutmesect img{
	display: block;
	margin-left: auto;
	margin-right: 0;
	max-height: 560px;
}
#aboutmesect div{
	margin: 0 auto;
	max-width: 1400px;
}
#workandstudysect{
	background-color: rgb(244,244,244);
}
.storypart{
	position: relative;
	margin: 40px auto;
	max-width: 1400px;
	min-height: 200px;
	display: flex;
  	align-items: center;
  	/*justify-content: center;*/
}
.storypart img {
	max-width: 200px;
	max-height: 200px;
	clip-path: circle();
	position: absolute;
}
.storypart p {
	margin: 0 0 0 240px;
    left: 240px;
}
#contactssect{
	color: white;
	background-color: rgb(102,153,102);
}
#vk, #inst, #fb, #numb{
	height: 50px;
	width: 200px;
	border-radius: 50px 50px;
	border-style: none;
 	outline: none;
	font-size: 20px;
	display: flex;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
}
#vk{ background-color: #4a76a8; color: white; font-family: monospace; font-weight: 900;}
#inst{ background-color: #fff; color: black; font-family: cursive; font-weight: 300;}
#fb { background-color: #385898; color: white; font-family: sans-serif;font-weight: 500;}
#numb { background-color: #9AE69A; color: black; font-family: sans-serif;}
.ContactLinks{
	margin: 0 auto;
	max-width: 1400px;
}
#PhoneNumber{
	position: relative;
	top: 0px;
	font-family: Verdana;
	font-size: 24px;
	margin: 20px auto;
	text-align: center;
	display: none;
}

@media screen and (max-width: 1240px){
	html, body { margin: 0;	min-width: 1020px;} section{padding: 40px 60px;} footer{padding: 20px 60px;}
	#vk, #inst, #fb, #numb{	height: 65px; width: 260px; border-radius: 64px 64px; font-size: 26px; margin: 25px auto;}
	.storypart{	margin: 60px auto;}
	}
@media screen and (max-width: 1100px){
	html, body { margin: 0;	min-width: 932px;} section{padding: 40px 30px;} footer{padding: 20px 30px;}
	#vk, #inst, #fb, #numb{	height: 100px; width: 400px; border-radius: 100px 100px; font-size: 48px; margin: 40px auto;}
	h1 {font-size: 82px;}	h2 {font-size: 72px;}	p {font-size: 36px; line-height: 1.5;}
	.storypart {margin: 100px auto;}
}
